$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--color-white: #fff !default;
$--color-black: #282828 !default;
$--color-text-placeholder: #c0c4cc !default;

$--border-color-base: #dcdfe6 !default;
$--border-radius-base: 4px !default;
$--button-active-shade-percent: 10% !default;

$--button-font-size: 14px !default;
$--button-border-radius: 4px !default;
$--button-padding-horizontal: 20px !default;

$--button-default-color: $--color-black !default;
$--button-default-fill: $--color-white !default;
$--button-default-border: $--border-color-base !default;

$--button-success-color: $--color-white !default;
$--button-success-fill: $--color-success !default;
$--button-success-border: $--color-success !default;

$--button-info-color: $--color-white !default;
$--button-info-fill: $--color-info !default;
$--button-info-border: $--color-info !default;

$--button-warning-color: $--color-white !default;
$--button-warning-fill: $--color-warning !default;
$--button-warning-border: $--color-warning !default;

$--button-danger-color: $--color-white !default;
$--button-danger-fill: $--color-danger !default;
$--button-danger-border: $--color-danger !default;

$--button-medium-height: 36px !default;
$--button-medium-padding-horizontal: 20px !default;
$--button-medium-font-size: 14px !default;
$--button-medium-border-radius: $--border-radius-base !default;

$--button-small-height: 32px !default;
$--button-small-padding-horizontal: 15px !default;
$--button-small-font-size: 12px !default;
$--button-small-border-radius: 3px !default;

$--button-mini-height: 28px !default;
$--button-mini-padding-horizontal: 15px !default;
$--button-mini-font-size: 10px !default;
$--button-mini-border-radius: 2px !default;

$--cell-active-color: mix($--color-black, $--color-white, 10%) !default;